In [1]:
import pandas as pd

Mov = pd.read_excel('/home/o2i/mynu.xlsx')
Mov

  Name  value
0    a     10
1    b     20
2    c     30
3    d     40
4    e     50
5    f     60
6    g     70
7    h     80
8    i     90
9    j    100

In [34]:
x = int(input("Enter the number:"))

a = Mov.value
b = Mov.Name

for n in range(len(a)):
    if a[n]==x:
        print(b[n])
    for y in range(n,len(a)):
        t = a[n] + a[y]
        if t == x:
            print("first item = %c the second item = %c"%(b[n],b[y]))
        else:
            for z in range(y,len(a)):
                if(a[z]+t) == x:
                    print("first item = %c the second item = %c  the third item = %c"%(b[n],b[y],b[z]))

Enter the number:60
first item = a the second item = a  the third item = d
first item = a the second item = b  the third item = c
first item = a the second item = e
first item = b the second item = b  the third item = b
first item = b the second item = d
first item = c the second item = c
f

In [21]:
x = [1, 4, 5, 7, 9, 6, 2]
target = int(input("Enter the number:"))
for i in range(len(x)):
    for ii in range(len(x))
        if (x[i] + x[ii]) == target:
            print ("the first number= %d the second number %d" % (x[i], x[ii]))

Enter the number:9
the first number= 4 the second number 5
the first number= 5 the second number 4
the first number= 7 the second number 2
the first number= 2 the second number 7